.navbar{
  margin-bottom: 0;
  border-radius: 0;
  background-color: #f4f4f4;
  color: #FFF;
  padding: 1% 0;
  font-size: 1.2em;
  border:0;
}
.navbar-brand{
  float: left;
  min-height: 55px;
  padding: 0 15px 5 px;
}
.navbar-inverse .navbar-nav .active a, .navbar-inverse .navbar-nav .active a:focus, .navbar-inverse .navbar-nav .active a:hover {
  color:black;
  background: #f4f4f4;
}
